.userBadge {
  &-outer {
    width: 40%;
    max-height: 2rem;
    background: $color-secondary;
    border-radius: 2rem;
    margin-bottom: 0.2rem;

    & span {
      font-weight: bold;
      color: $color-accent;
    }
  }
  &-link {
    color: $color-primary;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: $color-accent;
    }
  }
}

