.list {
    &-item {
        cursor: pointer;
        background-color: $color-tertiary;
        margin: .5rem 0;
        height: 5rem;
        align-items: center;
        padding: .5rem;

        &:hover {
            background-color: $color-secondary;
        }
    }

    &-info {
        display: flex;
        flex-direction: column;

        &__name {
            color: $color-primary;
            font-weight: bold;
        }

        &__email {
            font-weight: lighter;
            color: $color-black;
        }
    }
}